:root {
  --bg-clr: #95efff;
  --mario-icon: url("Characters/mario_icon.jpg")
}

body {
  background-color: var(--bg-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*
{
	box-sizing:border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
